<div class="section-heading-shell {{className}}">
  {{#if eyebrow}}<span class="section-eyebrow">{{eyebrow}}</span>{{/if}}
  <div class="section-heading-row">
    <div>
      <h2 class="section-title">{{title}}</h2>
      {{#if description}}<p class="section-description">{{description}}</p>{{/if}}
    </div>
  </div>
</div>
